<ion-tabs>

  <ion-tab-bar slot="bottom"  color="new">
    <ion-tab-button tab="home">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Finder</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan">
      <ion-icon name="barcode-outline"></ion-icon>
      <ion-label>Barcode</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reminder">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Reminder</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
